.form-signin{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.form-signin > * {
    margin: 5px 0;
}

#address-form-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}